﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masterpage.Master" AutoEventWireup="true" CodeBehind="frm_question_sh.aspx.cs" Inherits="DRR_Citizen.frm_question_sh" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
    <style>
      .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
      }
      .example-modal .modal {
        background: transparent !important;
      }
    </style>


<div class="content-wrapper">
      
<!-- Main content ----------------------------------------------------------->
     <div class="row">
          <div class="col-md-12">
            
                <div class="box box-solid box-info ">
                    
                      <div class="box-body">
             <div class="box-body">
                 <div class="row">
                  <form class="form-horizontal">
                   <div class="box-body">
                       
                      <div class="form-group">
                      <label for="inputEmail3" class="col-sm-3 control-label">ค้นหาแผ่นพับ :</label>
                      <div class="col-sm-7">
                    <select class="form-control select2" style="width: 100%;">
                      <option ">ประเภท ท</option>
                      <option>ประเภท บ</option>
                      <option>ประเภท ส</option>
                      <option>ประเภท ป</option>
                      <option selected="selected">ประเภท ซ</option>
                      <option>อื่น</option>
                    </select></div>
                    </div>
                
                  
                  </div><!-- /.box-body -->
                  
                </form>

                </div></div>
                  </div></div>      
              <div class="box box-solid box-info ">  
         <div class="box-body">
               <br /><div class="row">
              <div class="col-md-1"></div>

                   <div class="col-md-10">

                       <div class="box-body">
        
          <div class="box-body table-responsive no-padding">
                  <table class="table table-bordered table-striped">
                    <tr>
                      <th class="actions bg-primary" style=" text-align :center ;">ประเภท</th>
                      <th class="actions bg-primary" style=" text-align :center ;">ชื่อแผ่นพับ</th>
                      <th class="actions bg-primary" style=" text-align :center ;">เวอร์ชั่น</th>
                       <th class="actions bg-primary" style=" text-align :center ;">วันที่ใช้</th>
                      <th class="actions bg-primary" style=" text-align :center ;">สถานะ</th>
                     </tr>
                    <tr>
                    <td class="actions" style=" text-align :center ;"><a href="frm_techniqce_sh1.aspx">ซ 1 </a></td>
                      <td><a href="frm_techniqce_9sh1.aspx">ประชนมีส่วนร่วม</a></td> 
                      <td class="actions" style=" text-align :center ;">V1.0</td>
                      <td><a href="frm_techniqce_9t1.aspx">27/02/2016</a></td> 
                      <td class="actions" style=" text-align :center ;"><span class="label label-success">active</span></td>
                    </tr>
                   
                  </table>
           </div><!-- /.box-body -->

                </div><!-- /.box-body -->
        
            </div><!-- ./col -->

              <div class="col-md-1"></div>

            </div><!-- /.box-body --><br />
          
        </div></div> 
            
            </div>
        </div>

   </div>

</asp:Content>
