﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masterpage.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="DRR_Citizen.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
<asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    ดเดดเ
</asp:Content>

